
  <%= render 'layouts/welcome' %>
  <%#= render 'layouts/sort' %>

    <% @spots.each do |spot| %>

      <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-xs-12">
        <% if spot.dl < 4 %>
        <div class="panel panel-default spots fastest">
        <% end %>
        <% if spot.dl < 13 && spot.dl > 4 %>
        <div class="panel panel-info spots fastest">
        <% end %>
        <% if spot.dl < 21 && spot.dl > 13 %>
        <div class="panel panel-primary spots fastest">
        <% end %>
        <% if spot.dl < 29 && spot.dl > 21 %>
        <div class="panel panel-success spots fastest">
        <% end %>
        <% if spot.dl < 49 && spot.dl > 29 %>
        <div class="panel panel-warning spots fastest">
        <% end %>
        <% if spot.dl > 49 %>
        <div class="panel panel-danger spots fastest">
        <% end %>
          <div class="panel-heading">
          <%= link_to spot do %>
            <div class="panel-title text-center"><h3><%= spot.name %> (<%= spot.distance_from(icanhazgeo).to_f.round(2) %> mi away)</h3></div>
          <% end %>
          </div>
          <div class="panel-body">

            <div class="row">
              <div class="internet col-sm-6">
                <h4>WiFi <i class="fa fa-wifi fa-md"></i> </h4>
                <div class="speed col-xs-12">
                  Speed: <span class="text-primary"><%= spot.dl %> mb/s </span><i class="fa fa-arrow-down"></i> / <span class="text-primary"><%= spot.ul %> mb/s </span><i class="fa fa-arrow-up"></i>
                </div>
                <div class="logins col-xs-12">
                  SSID: <span class="text-primary"><%= spot.ssid %></span> PW: <span class="text-primary">
                    <% if spot.pw? %>
                      <%= spot.pw %>
                    <% end %>
                    <% if spot.pw_open? %>
                      [OPEN]
                    <% end %>
                    <% if spot.pw_login? %>
                      [LOGIN PAGE]
                    <% end %></span>
                </div> 
              </div>
              
              <div class="gap visible-xs col-xs-12" style="padding: 10px 0"></div>
              
              <div class="distance col-sm-6">
                <h4>Location <i class="fa fa-map-marker fa-md"></i></h4>
                <div class="address col-xs-12">
                  <span class="text-primary">
                  <%= link_to spot.address, "https://google.com/maps/place/#{spot.address}" %>
                  </span>
                </div>
                <div class="distance col-xs-12">
                  <span class="text-primary">
                  <%= spot.distance_from(icanhazgeo) %> mi away
                  </span>
                </div>
              </div>
            </div>

            

            <div class="row">
              <div class="gap col-xs-12" style="padding: 10px 0"></div>
              <div class="links col-sm-12">
                <div class="row">
                  <div class="btn-group btn-group-justified col-xs-12" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                      <% if spot.yelp? %>
                        <%= link_to spot.yelp, class: 'btn btn-default', target: '_blank' do %>
                        <i class="fa fa-yelp"></i><span class="hidden-xs"> Yelp</span>
                        <% end %>
                      <% else %>
                        <button class="btn btn-default">
                          <i class="fa fa-yelp"></i><span class="hidden-xs">  Yelp</span>
                        </button>
                      <% end %>
                    </div>
                    <div class="btn-group" role="group">
                      <% if spot.facebook? %>
                        <%= link_to spot.facebook, class: 'btn btn-default', target: '_blank' do %>
                        <i class="fa fa-facebook"></i><span class="hidden-xs">  Facebook</span>
                        <% end %>
                      <% else %>
                        <button class="btn btn-default">
                          <i class="fa fa-facebook"></i><span class="hidden-xs">  Facebook</span>
                        </button>
                      <% end %>
                    </div>
                    <div class="btn-group" role="group">
                      <% if spot.website? %>  
                        <%= link_to spot.website, class: 'btn btn-default', target: '_blank' do %>
                        <i class="fa fa-globe"></i><span class="hidden-xs">  Website</span>
                        <% end %>
                      <% else %>
                        <button class="btn btn-default disabled">
                          <i class="fa fa-globe"></i><span class="hidden-xs">  Website</span>
                        </button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <p class="last-updated muted text-center">Last Updated: <%= spot.updated_at.strftime("%m/%d/%Y") %></p>

          </div>
        </div>
      </div>

    <% end %>


