<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-xs-12">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h1 class="text-center">WiFi Spot Details</h1>
    </div>

    <div class="panel-body">
      <div class="location form-group col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-xs-12">
        <div class="page-header">
          <h2>Location</h2>
        </div>
        <h4><strong>Name:</strong><span class="text-primary"> <%= @spot.name %></span></h4>
        <h4><strong>Address:</strong><span class="text-primary"> <%= @spot.address %></span></h4>
        <h4><strong>Latitude</strong><span class="text-primary"> <%= @spot.latitude %></span> </h4>
        <h4><strong>Longitude:</strong><span class="text-primary"> <%= @spot.longitude %></span></h4>
        <!--
        <h4><strong>Nearby Spots</strong></h4>
          <ul>
            <%# for spot in @spot.nearbys(50) %>
              <li><%#= link_to spot.name, spot %> (<%#= spot.distance.round(2) %> mi)</li>
            <%# end %>
          </ul>
        </h4>
        -->
        <div class="page-header">
          <h2>Distance</h2>
        </div>
        <h4><strong>ICanHazIP:</strong><span class="text-primary"> <%= icanhazip %></span></h4>
        <h4><strong>ICanHazGeo:</strong><span class="text-primary"> <%= icanhazgeo %></span></h4>
        <h4><strong>ICanHazDist:</strong><span class="text-primary"> <%= @spot.distance_from(icanhazgeo).to_i.round(2) %> mi</span></h4>   
      </div>
      <div class="wifi form-group col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-xs-12">
        <div class="page-header">
          <h2>WiFi</h2>
        </div>
        <h4><strong>SSID:</strong><span class="text-primary"> <%= @spot.ssid %></span></h4>
        <h4><strong>PW:</strong><span class="text-primary"> 
          <% if @spot.pw? %>
            <%= @spot.pw %>
          <% end %>
          <% if @spot.pw_open? %>
            [OPEN]
          <% end %>
          <% if @spot.pw_login? %>
            [LOGIN PAGE]
          <% end %>
        </h4>
        <h4><strong>Download:</strong><span class="text-primary"> <%= @spot.dl %></span></h4>
        <h4><strong>Upload:</strong><span class="text-primary"> <%= @spot.ul %></span></h4>
      </div>
      <div class="links form-group col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-xs-12">
        <div class="page-header">
          <h2>Links</h2>
        </div>
        <h4><strong>Yelp:</strong><span class="text-primary"> <%= @spot.yelp %></span></h4>
        <h4><strong>Facebook:</strong><span class="text-primary"> <%= @spot.facebook %></span></h4>
        <h4><strong>Website:</strong><span class="text-primary"> <%= @spot.website %></span></h4>
        <div class="actions text-center col-xs-12">
          <%= link_to 'Edit', edit_spot_path(@spot), class:"btn btn-primary btn-md" %>
          <br>
          <%= link_to 'Back', spots_path %>
        </div>
      </div>
      
    </div>
  </div>
</div>


