<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "RI WiFi", root_path, class: "navbar-brand" %>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to raw('<i class="fa fa-location-arrow fa-lg"></i><span class="hidden-xs">&nbsp; Nearby</span>'), nearby_path %></li>
			<li><%= link_to raw('<i class="fa fa-search fa-lg"></i><span class="hidden-xs">&nbsp; Search</span>'), search_path %></li>	
			<li><%= link_to raw('<i class="fa fa-star fa-lg"></i><span class="hidden-xs">&nbsp; Favs</span>'), favs_path %></li>
			<% if user_signed_in? %>
			
			<li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i> <b class="caret"></b></a>
		        <ul class="dropdown-menu">
			        <li><%= link_to raw('<i class="fa fa-gear"></i>&nbsp; My Account</span>'), edit_user_registration_path %></li>
			       	<li><%= link_to raw('<i class="fa fa-power-off"></i>&nbsp; Log Out</span>'), destroy_user_session_path, method: :delete %></li>
		        </ul>
		      </li>
			<% else %>
			<li><%= link_to raw('<i class="fa fa-power-off fa-lg"></i><span class="hidden-xs">&nbsp; Log In</span>'), user_session_path %></li>
			<% end %>
		</ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>